ES_HOST=http://localhost:9200
ES_USER=elastic
ES_PASSWD=CHANGE_ME
INDEX_NAME=spaindb

DISCORD_WEBHOOK=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN

AUTHORIZED_TOKENS=["YOUR_TOKEN_HERE"]

GEMINI_API_KEY=YOUR_GEMINI_API_KEY
